input {-webkit-appearance: none; box-shadow: none !important; }
:-webkit-autofill { color: #fff !important; }

html {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,Arial,Roboto,Ubuntu,Helvetica Neue,sans-serif;
}

.section-1-background {
    margin-top: 5vh;
    width: 95vw;
    height: 100vh;
    background-color: #8578e6;
    margin-left: auto;
    margin-right: auto;
}

.section-1 {
    position: relative;
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    background-color: white;
    height: 8vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
}

.logo {
    margin: .8rem;
}

.header-selections {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

